_site
.bundle
.sass-cache
.jekyll-cache
.jekyll-metadata
.DS_store
.ruby-version
.tweet-cache
Gemfile.lock
vendor
assets/resized/fct_logo-480x270.jpg
assets/resized/fct_logo-480x270.png
assets/resized/fct_logo-800x450.jpg
assets/resized/fct_logo-800x450.png
assets/resized/fct_logo-1400x788.jpg
assets/resized/fct_logo-1400x788.png
assets/resized/inesc_id_logo-480x320.jpg
assets/resized/inesc_id_logo-480x320.png
assets/resized/inesc_id_logo-800x533.jpg
assets/resized/inesc_id_logo-800x534.png
assets/resized/inesc_id_logo-1400x933.jpg
assets/resized/inesc_id_logo-1400x934.png
assets/resized/mit_logo-480x253.png
assets/resized/mit_logo-480x270.png
assets/resized/mit_logo-800x450.png
assets/resized/mit_logo-1400x788.png
